<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>easel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28C5A2AA1CDBE5690008F4C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28C5A2C11CDBE56A0008F4C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28C5A2CC1CDBE56A0008F4C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
